<html>
<head>
	<meta charset="UTF-8">
	<title>Inicio</title>
	<link rel="shortcut icon" href="../images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../styles/estilo.css">
	<link rel="stylesheet" type="text/css" href="../styles/carrusel.css">
	<style type="text/css">
		.ok{
			margin-top: -100px;
		}

		.color{
			padding: 15px;
			border: 2px solid #FF8000;
			border-radius: 100px;
			background: linear-gradient(0deg, #F7BE81, #FFFFFF);
		}
		
		.fsRequest{
			border: 1px solid;
			border-radius: 20px 0px 20px 0px;
			padding: 8px;
			color: #ff8000;
		}

		.fsRequest:hover{
			color: black;
		}
		
		.jobs-container{
			margin-top:10px;
		}

		p{
			color: #FF8000;
			text-shadow: 0px 2px 2px 2px #FFFFFF;
		}

		h3{
			color: #FF8000;
			text-shadow: 0px 2px 2px 2px #FFFFFF;
		}

		.carousel-inner{
			border: 2px solid #ff8000;
			border-radius: 30px;
		}

		.carousel-control{
			border-radius: 30px;
		}

	</style>
</head>
<body>
	<div class="demo-cont" ng-show="!vm.jobs.length">
		<div class="fnc-slider example-slider">
			<div class="fnc-slider__slides">
				<div class="fnc-slide m--blend-green m--active-slide">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Empresas y</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>Compañias</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						  </div>
					</div>
				</div>
				<div class="fnc-slide m--blend-dark">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Trabajadores</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>y Empleados</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						</div>
					</div>
				</div>
				<div class="fnc-slide m--blend-red">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Tiempo</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>Completo</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						</div>
					</div>
				</div>
				<div class="fnc-slide m--blend-blue">
					<div class="fnc-slide__inner">
						<div class="fnc-slide__mask">
							<div class="fnc-slide__mask-inner"></div>
						</div>
						<div class="fnc-slide__content">
							<h2 class="fnc-slide__heading">
								<div class="fnc-slide__heading-line">
									<span>Medio</span>
								</div>
								<div class="fnc-slide__heading-line">
									<span>Tiempo</span>
								</div>
							</h2>
							<button type="button" class="fnc-slide__action-btn">
								Quienes Somos
								<span data-text="Quienes Somos">Quienes Somos</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<nav class="fnc-nav">
				<div class="fnc-nav__bgs">
					<div class="fnc-nav__bg m--navbg-green m--active-nav-bg"></div>
					<div class="fnc-nav__bg m--navbg-dark"></div>
					<div class="fnc-nav__bg m--navbg-red"></div>
					<div class="fnc-nav__bg m--navbg-blue"></div>
				</div>
				<div class="fnc-nav__controls">
					<button class="fnc-nav__control">
						Admin
						<span class="fnc-nav__control-progress"></span>
					</button>
					<button class="fnc-nav__control">
						TI
						<span class="fnc-nav__control-progress"></span>
					</button>
					<button class="fnc-nav__control">
						Mechanics
						<span class="fnc-nav__control-progress"></span>
					</button>
					<button class="fnc-nav__control">
						Building
						<span class="fnc-nav__control-progress"></span>
					</button>
				</div>
			</nav>
		</div>
		<div class="demo-cont__credits" align="center">
			<div class="demo-cont__credits-close"></div>
			<img src="img/logo_b.png">
		</div>
	</div>
	<div class"ok" ng-if="vm.jobs.length > 0">
		<h2>IJob Buscando Talentos - Top 10</h2>
		<div id="myCarousel" align="center" class="carousel slide" data-interval="2000" data-ride="carousel" style="width: 100%">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="../img/img13.jpg" alt="First Slide">
					<div class="carousel-caption">
						<h3>IJOB</h3>
						<p>Buscando Talentos</p>
					</div>
				</div>
				<div class="item">
					<img src="../img/img11.jpg" alt="Second Slide">
					<div class="carousel-caption">
						<h3>IJOB</h3>
						<p>Buscando Talentos</p>
					</div>
				</div>
				<div class="item">
					<img src="../img/img12.jpg" alt="Third Slide">
					<div class="carousel-caption">
						<h3>IJOB</h3>
						<p>Buscando Talentos</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="jobs-container">
		<div class="job-item" ng-repeat="job in vm.jobs">
			<div class="well">
				<i class="pull-right">{{job.since}}</i>
				<div class="row">
					<div class="col-lg-4">
						<img src="{{job.srcImage}}" class="img-thumbnail" width="240" />
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-4">
								<strong>Apellidos</strong>
							</div>
							<div class="col-lg-8">
								{{job.apellidos}}
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<strong>Nombres</strong>
							</div>
							<div class="col-lg-8">
								{{job.nombre}}
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<strong>Género</strong>
							</div>
							<div class="col-lg-8">
								<span ng-if="job.genero === 1">Masculino</span>
								<span ng-if="job.genero === 2">Femenino</span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<strong>Descripción</strong>
							</div>
							<div class="col-lg-8">
								{{job.descripcion}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-lg-4">
								<strong>Ubicación</strong>
							</div>
							<div class="col-lg-8">
								{{job._ubicacion.municipio}},{{job._ubicacion.pais}}
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<strong>Calificaciones</strong>
							</div>
							<div class="col-lg-8">
								<span ng-if="job.calificaciones">{{job.calificaciones}}</span>
								<span ng-if="!job.calificaciones">0</span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
								<strong>Prestador</strong>
							</div>
							<div class="col-lg-8">
								<span ng-if="job.calificacionPrestador">{{job.calificacionPrestador}}</span>
								<span ng-if="!job.calificacionPrestador">0</span>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4">
							  <strong>Certificado</strong>
							</div>
							<div class="col-lg-8">
							  <span ng-if="job.estaCertificado">Sí</span>
							  <span ng-if="!job.estaCertificado">No</span>
							</div>
						</div>
						<hr>
						<div ng-repeat="ocup in job.ocupaciones">
							<div class="row">
								<div class="col-lg-4">
									<strong>Ocupación</strong>
								</div>
								<div class="col-lg-8">
									{{ocup._ocupacion.nombre}}
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<strong>Tipo</strong>
								</div>
								<div class="col-lg-8">
									<span ng-if="ocup.tipo === 1">Actividad Principal</span>
									<span ng-if="ocup.tipo === 2">Actividad Secundaria</span>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<strong>Experiencia</strong>
								</div>
								<div class="col-lg-8">
									{{ocup.experiencia}}
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-lg-4">
								<strong></strong>
							</div>
							<div class="col-lg-8">
								<a class="fsRequest" ng-disabled="job.isDoingRequest"  ng-click="vm.doRequest(job)" >{{job.requestText}}</a>
							</div>
						</div>
						<br>
					</div>
				</div>
				<i class="pull-right">Creado En {{job.creadoEn}}</i>
			</div>
			<hr>
		</div>
	</div>
	<script src="../scripts/index.js"></script>
</body>
</html>